<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <h1>Smit Shah - N01580089</h1>
    </header>

    <div class="content">
      {{{body}}}
    </div>

    <footer>
      <h3> smitdshah1901@gmail.com</h3>
    </footer>
  </body>
</html>