<div class="centerdiv">
  <h2>Search for ISBN</h2>
  <form action="/api/searchBook/" method="post" class="boxshadow">
    <label for="ISBN">Enter ISBN :</label>
    <input type="text" id="ISBN" name="ISBN" required />
    <button type="submit">Search</button>
  </form>
</div>